"*":
  editor:
    invisibles: {}
    fontSize: 12
  core:
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
    audioBeep: false
    disabledPackages: [
      "resize-panes"
      "resize-panes"
      "ask-stack"
      "term2"
      "block-cursor"
      "linter-erb"
      "xml-formatter"
      "script"
      "web-browser"
    ]
  "filetype-color":
    enabled: "false"
  "autocomplete-plus": {}
  "exception-reporting":
    userId: "c913aae6-8a25-a8ea-b68d-2d0e623df09b"
  welcome:
    showOnStartup: false
  linter:
    ignoredLinterErrors: [
      "jshint"
      "htmlhint"
    ]
    lintOnChangeInterval: 3000
    subtleLinterErrors: [
      "ruby"
    ]
  "block-cursor":
    primaryColor:
      red: 0
      green: 249
      blue: 0
      alpha: 1
    blinkInterval: 0
  term2:
    colors: {}
  "web-browser": {}
  "markdown-preview": {}
  react: {}
  jshint:
    supportLintingJsx: true
  "xml-formatter": {}
  "linter-jshint": {}
  "linter-eslint":
    globalNodePath: "/Users/kamesho/.nvm/versions/io.js/v3.0.0"
    useGlobalEslint: true
  "linter-htmlhint": {}
