Kagami:
  title: "Kagami"
  paths: [
    "/Users/shohey1226/git/Kagami"
  ]
Monotodo:
  title: "Monotodo"
  paths: [
    "/Users/shohey1226/git/Monotodo"
  ]
gsaweb:
  title: "gsaweb"
  paths: [
    "/Users/shohey1226/git/gsaweb"
  ]
Gauss:
  title: "Gauss"
  paths: [
    "/Users/shohey1226/git/Gauss"
  ]
RNMonotodo:
  title: "RNMonotodo"
  paths: [
    "/Users/shohey1226/git/RNMonotodo"
  ]
clover:
  title: "colver"
  paths: [
    "/Users/shohey1226/git/clover"
  ]
