Goodie:
  title: "Goodie"
  paths: [
    "/Users/kamesho/git/Goodie"
  ]
gsaweb:
  title: "gsaweb"
  paths: [
    "/Users/kamesho/git/gsaweb"
  ]
Chifan:
  title: "Chifan"
  paths: [
    "/Users/kamesho/git/Chifan"
  ]
Wiredify:
  title: "Wiredify"
  paths: [
    "/Users/kamesho/git/Wiredify"
  ]
Instravel:
  title: "Triplenty"
  paths: [
    "/Users/kamesho/git/Triplenty"
  ]
